@import './settings.scss';
/* ======================================================================= */
                    /* HEADER */
/* ======================================================================= */

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(20px,3vw,45px) 5% 0px 5%;
    #header{
        &-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }
        &-logo{
            width: 145px;
            height: 46px;
            & svg {
                width: 100%;
                height: 100%;
                fill: $main-color;
            }
        }
    }
}


nav {
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        list-style: none;
        font-size: $font-size-header-footer;
        li a{
            color:$text-color;
            &:hover{
                text-decoration: underline;
            }
            &:active{
                text-decoration: none;
                color:$text-color;
            }

        }
    }
    .nav-about{
        margin-top: 12px;
        margin-left: 0px;
    }
}

/* ======================================================================= */
                    /* FOOTER */
/* ======================================================================= */

footer{
    background-color: black;
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #footer{
        &-logo{
            width: 122px;
        }
        &-copyright {
            display: flex;
            flex-direction: column;
            font-size: $font-size-header-footer;
            white-space: normal;
            padding-top: 2vh;
            color: white;
        }
    }
}


/* ======================================================================= */
                    /* HOME */
/* ======================================================================= */
//CONTAINERS
#main-home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    #main-home-banner{
        width: 100%;
        height: clamp(111px, calc(111px + 0.27184466 * (100vw - 375px)), 223px);;
        background-image: url("../../public/IMG.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: clamp(10px, calc(10px + calc((25 - 10) / (1440 - 375)) * (100vw - 375px)), 25px);
        margin-bottom: clamp(22px, calc(22px + calc((46 - 22) / (1440 - 375)) * (100vw - 375px)), 46px);
        padding-top: clamp(0px, calc(0px + calc((50 - 0) / (1440 - 320)) * (100vw - 320px)), 50px);
    }
    #main-article-box {
      border-radius: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: clamp(0px, calc(0px + calc((31 - 0) / (1440 - 320)) * (100vw - 320px)), 31px);
      padding-left: clamp(0px, calc(0px + calc((50 - 0) / (1440 - 320)) * (100vw - 320px)), 50px);
      padding-right: clamp(0px, calc(0px + calc((50 - 0) / (1440 - 320)) * (100vw - 320px)), 50px);
      padding-bottom: clamp(0px, calc(0px + calc((18 - 0) / (1440 - 320)) * (100vw - 320px)), 18px);
    }
}
// BANNER
#banner-content {
    height:100%;
     h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-left: clamp(16px,calc(0px - calc(16  / (1440 - 320)) * (100vw - 320px)),0px);
        span {
            font-style: normal;
            font-size: $font-size-banner;
            font-weight: 500;
            line-height: 100%;
            color: white;
        }
    }
}
// CARDS
.article-location {
    position: relative;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 100%;
    max-width: 340px;
    box-shadow: 0 8.5px 12px 0 #dddddd;
    height: clamp(255px, calc(255px + calc((340 - 255) / (1440 - 320)) * (100vw - 320px)), 340px);
    margin-top: clamp(0px, calc(0px + calc((25 - 0) / (1440 - 375)) * (100vw - 375px)), 25px);
    margin-bottom: clamp(20px, calc(20px + calc((25 - 20) / (1440 - 320)) * (100vw - 320px)), 25px);
    border-radius: 10px;
    cursor: pointer;
    animation-name: opacityDownAnimation;
    animation-duration: 1500;
    .box-shadow {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
        border-radius: 10px;
        z-index: 2;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &-text {
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 15px 20px;
        z-index: 3;
        overflow-wrap: normal;
        width: 150px;
        h3 {
            margin: 0;
            color: white;
            font-size: $font-size-article;
            font-style:  light;
            font-weight: 500;
            line-height: 142.6%;
        }
    }
}


/* ======================================================================= */
                            /* A PROPOS */
/* ======================================================================= */

#main-about {
    width: 100%;
    padding: 0 5%;
    &-banner {
        height: 223px;
        background-image: url('../images/About.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        border-radius: clamp(10px, calc(10px + calc((25 - 10) / (1440 - 375)) * (100vw - 375px)), 25px);
        margin-top: clamp(19px, calc(19px + calc((38 - 19) / (1440 - 375)) * (100vw - 375px)), 38px);
        margin-bottom: clamp(19px, calc(19px + calc((8 - 19) / (1440 - 375)) * (100vw - 375px)), 8px);
        .blendMode {
            background-color: black;
            width: 100%;
            height: 100%;
            opacity: 0.3
        }
    }
    &-collapse {
        width: 100%;
        padding-left: clamp(0%, calc(0% + calc((50 - 0) / (1440 - 375)) * (100vw - 375px)), 50%);;
        padding-right: clamp(0%, calc(0% + calc((50 - 0) / (1440 - 375)) * (100vw - 375px)), 50%);;
    }
}

.collapse{
    &-container {
        width: 100% ;
        margin-bottom: clamp(19px, calc(19px + calc((38 - 19) / (1440 - 375)) * (100vw - 375px)), 38px);
    }
    &-box-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $main-color;
        border-radius: 5px;
        margin-top: clamp(20px, calc(20px + calc((30 - 20) / (1440 - 375)) * (100vw - 375px)), 30px);
        padding: 10px clamp(10px, calc(10px + calc((20 - 10) / (1440 - 375)) * (100vw - 375px)), 20px);
        color: white;
        border: none;
        .collapse-title{
            font-size: $font-size-collapse-title;
            font-weight: 500;
            line-height: 142.6%;
            }
        .collapse-chevron-box{
            width: clamp(20px, calc(20px + calc((32 - 20) / (1440 - 375)) * (100vw - 375px)), 32px);
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                color: white;
                width: 100%;
                height: 100%;
                transform: rotate(180deg);
             }
        }
    }
    &-box-content-container {
        width: 100%;
        background-color: $bg-secondary-color;
        border-radius: 0px 0px 5px 5px;
        color: $main-color;
        height: 0px;
        overflow: hidden;
        transition: height ease 0.9s;
        .collapse-box-text-content {
            padding: 10px;
        }
    }
}

/* ======================================================================= */
                              /* 404 */
/* ======================================================================= */


/* ======================================================================= */
                            /* LOCATIONS */
/* ======================================================================= */


/* ======================================================================= */
                           /* TEST COLLAPSE */
/* ======================================================================= */
#main-about-collapse{
    .toggle {
        text-align: center;
        border: none;
        padding: 10px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        background: $main-color;
        border-radius: 5px;
        margin-top: 20px;
    }

    hr {
        border: white 1px solid;
    }
    .content {
        background-color: $bg-secondary-color;
        border-radius: 0px 0px 5px 5px;
        padding: 10px;
        border-radius: 5px;
    } 
    .content-parent {
        height: 0px;
        overflow: hidden;
        transition: height ease 0.9s;
    }
        
    .content-show {
        height: 200px;
    }
}

/* ======================================================================= */
                           /* MEDIA QUERY */
/* ======================================================================= */

@import './media.scss';